* {
    font-family: "Poppins", "sans-serif";
    font-weight: 800;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    row-gap: 2em;
    /* width: 100vw;
    height: 100vh; */
    padding: 2em 0em 1em 0em;
}

.header {
    color: #083564;
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin: 0em;
}

i,
.pink {
    font-style: normal;
    color: #f4685c;
    margin: 0em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: none;
    padding: 0em;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px dashed #083564;
    padding: 1em;
    row-gap: 0.7em;
}

legend {
    border: 2px dashed #083564;
    border-top: none;
    border-bottom: none;
    font-size: 1.5em;
    padding: 0.4em;
    color: #083564;
}

.sub {
    text-align: left;
    width: 100%;
    color: #083564;
}

.input {
    width: 90%;
    height: 100%;
    padding: 0.2em 0.5em;
    border: 0px;
    background-color: #eee;
    color: #083564;
    font-size: 1.3em;
    border-left: 6px solid #083564;
    border-radius: 3px;
}

::placeholder {
    color: #aaa;
    font-size: 0.9em;
}

.button {
    background-color: #0d86ff;
    color: #eee;
    width: 90%;
    height: 2em;
    border: 0px;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 1em;
}

.button:active {
    background-color: #083564;
}

.center {
    width: 100%;
    text-align: center;
    color: #083564;
}

row,
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    column-gap: 1em;
}

column,
.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
}

.mainContainer {
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-start; */
    width: 90%;
    border: 2px dashed #235347;
    padding: 1em;
    column-gap: 0.5em;
    row-gap: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 51em;
    display: none;
}

.mainContainer::-moz-scrollbar {
    height: 12px;
    border-radius: 10px;
    background-color: #083564;
}

.mainContainer::-moz-scrollbar-thumb {
    background-color: #fff;
    border: 2px solid #083564;
}

.mainContainer::-moz-scrollbar-track {
    background-color: #083564;
    border: 1px solid #fff;
}

.mainContainer::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    border-radius: 10px;
    background-color: #083564;
    border: 1px solid #fff;
}

.mainContainer::-webkit-scrollbar {
    height: 12px;
    border-radius: 10px;
    background-color: #083564;
}

.mainContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #fff;
    border: 2px solid #083564;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em;
}

.card {
    border: 2px dashed #083564;
    width: 18em;
    min-width: 18em;
    height: 12em;
    color: #083564;
    justify-content: right;
    padding: 1em 0em;
    font-size: 0.9em;
}

.card h3 {
    margin-bottom: 0.5em;
    margin-top: 0em;
}

.card ul {
    padding: 0em;
    margin: 0em;
    align-self: flex-start;
    margin-left: 2em;
}

.row-left {
    width: 100%;
    text-align: left;
    /* margin-left: 1em; */
    list-style: disc;
    word-spacing: 0.3em;
}

.blue {
    color: #083564;
}

.para-row {
    width: 100%;
    padding: 0em 0.3em;
    /* column-gap: 0em; */
}

.buttons {
    color: #083564;
    font-size: 1.3em;
}

@media only screen and (max-width: 360px) {
    legend {
        font-size: 1.1em;
    }
}